.container {
    margin: 50px;
}
.blue {
    
    height: 200px;
    width: 65px;
    background-color: blue;
    display: inline-block;
}
.white {
    
    height: 200px;
    width: 65px;
    background-color: white;
    display: inline-block;
}
.red {
    
    height: 200px;
    width: 65px;
    background-color: red;
    display: inline-block;
}